dist: focal
sudo: false

language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"
  - "pypy2.7-6.0"
  - "pypy3.5"

env:
  - CASS_DRIVER_NO_CYTHON=1

addons:
  apt:
    packages:
    - build-essential
    - python-dev
    - pypy-dev
    - libc-ares-dev
    - libev4
    - libev-dev

install:
  - pip install --upgrade setuptools importlib-metadata
  - pip install tox-travis
  - if [[ $TRAVIS_PYTHON_VERSION != pypy3.5 ]]; then pip install lz4; fi

script:
  - tox
  - tox -e gevent_loop
  - tox -e eventlet_loop
