include setup.py README.rst MANIFEST.in LICENSE
include cassandra/cmurmur3.c
include cassandra/io/libevwrapper.c
include cassandra/*.pyx
include cassandra/*.pxd
include cassandra/*.h
graft build-release