-r requirements.txt
scales
nose
mock!=1.1.*
ccm>=2.0
unittest2
pytz
sure
pure-sasl
twisted; python_version >= '3.5'
twisted[tls]==19.2.1; python_version < '3.5'
gevent>=1.0
eventlet
cython>=0.20,<0.30
packaging
futurist; python_version >= '3.7'
asynctest; python_version > '3.4'
pyOpenSSL