-r requirements.txt
scales
pytest
pytz
sure
pure-sasl
twisted[tls]
gevent>=1.0; platform_machine != 'i686' and platform_machine != 'win32'
gevent==23.9.0; platform_machine == 'i686' or platform_machine == 'win32'
eventlet>=0.33.3;
cython>=0.20,<0.30
packaging
futurist
asynctest
pyyaml
