Source: python-cassandra-driver
Maintainer: paul cannon <pik@debian.org>
Section: python
Priority: optional
Build-Depends: python-all-dev (>= 2.6.6-3), python-all-dbg, debhelper (>= 9),
               python-sphinx (>= 1.0.7+dfsg) | python3-sphinx, libev-dev,
               python-concurrent.futures | python-futures, python-setuptools,
               python-nose, python-mock, python-yaml, python-gevent,
               python-blist, python-tz
X-Python-Version: >= 2.7
Standards-Version: 3.9.4

Package: python-cassandra-driver
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, python-blist,
          python-concurrent.futures | python-futures
Provides: ${python:Provides}
Recommends: python-scales
Suggests: python-cassandra-driver-doc
Description: Python driver for Apache Cassandra
 This driver works exclusively with the Cassandra Query Language v3 (CQL3)
 and Cassandra's native protocol. As such, only Cassandra 1.2+ is supported.

Package: python-cassandra-driver-dbg
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends},
         python-cassandra-driver (= ${binary:Version})
Provides: ${python:Provides}
Section: debug
Priority: extra
Description: Python driver for Apache Cassandra (debug build and symbols)
 This driver works exclusively with the Cassandra Query Language v3 (CQL3)
 and Cassandra's native protocol. As such, only Cassandra 1.2+ is supported.
 .
 This package contains debug builds of the extensions and debug symbols for
 the extensions in the main package.

Package: python-cassandra-driver-doc
Architecture: all
Section: doc
Priority: extra
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Suggests: python-cassandra-driver
Description: Python driver for Apache Cassandra (documentation)
 This contains HTML documentation for the use of the Python Cassandra
 driver.
