name: Integration tests

on:
  pull_request:
    branches:
     - master
  push:
    branches:
      - master

jobs:
  tests:
    name: test ${{ matrix.event_loop_manager }} (${{ matrix.python-version }})
    if: "!contains(github.event.pull_request.labels.*.name, 'disable-integration-tests')"
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        java-version: [8]
        python-version: ["3.8.17", "3.11.4", "3.12.0b4"]
        event_loop_manager: ["libev", "asyncio", "asyncore"]
        exclude:
          - python-version: "3.12.0b4"
            event_loop_manager: "asyncore"

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'adopt'

    - name: setup pyenv ${{ matrix.python-version }}
      uses: "gabrielfalcao/pyenv-action@v16"
      with:
        default: 2.7.14
        versions: ${{ matrix.python-version }}
    - name: Test with pytest
      run: |
        export EVENT_LOOP_MANAGER=${{ matrix.event_loop_manager }}
        export SCYLLA_VERSION='release:6.2'
        ./scripts/run_integration_test.sh tests/integration/standard/ tests/integration/cqlengine/
    
    - name: Test tablets
      run: |
        export EVENT_LOOP_MANAGER=${{ matrix.event_loop_manager }}
        export SCYLLA_VERSION='release:6.2'
        ./scripts/run_integration_test.sh tests/integration/experiments/
